<!DOCTYPE html>
<html>
<div class="top-wrapper-ranking">
  <div class="container">
    <h1>ジャンル別</h1>
    <h1>スクールランキング</h1>
    <p></p>
    <p></p>
      <div class="btn-wrapper">
        <a href="#" class="btn signup">スクールを探す</a>
      </div>
  </div>
</div>


<main role="main">

      <div class="album py-5 bg-light">
        <div class="container">
        <h2>総合ランキング</h2>
          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img class="card-img-top"> <%= image_tag 'TECH-AAA.png'%>
                <div class="card-body"> 
                	<h5 class="card-title">第1位　テックAAA</h5>
                	<span class="badge badge-pill badge-danger">教室・オンライン両方</span>

                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-danger my-2">詳細</button>
                      <button type="button" class="btn btn-success my-2">カート</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img class="card-img-top"><%= image_tag 'TECH-BBB.png'%>
                <div class="card-body">
                	<h5 class="card-title">第2位　テックBBB </h5>
                	<span class="badge badge-pill badge-danger">教室・オンライン両方</span>
                	
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-danger my-2">詳細</button>
                      <button type="button" class="btn btn-success my-2">カート</button>
                    </div>
                    <small class="text-muted"></small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img class="card-img-top"><%= image_tag 'TECH-CCC.png'%>
                <div class="card-body">
                	<h5 class="card-title">第3位　テックCCC</h5>
                	<span class="badge badge-pill badge-danger">オンラインのみ</span>
                	
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-danger my-2">詳細</button>
                      <button type="button" class="btn btn-success my-2">カート</button>
                    </div>
                    <small class="text-muted"></small>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <h2>口コミランキング</h2>
          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img class="card-img-top"> <%= image_tag 'TECH-DDD.png'%>
                <div class="card-body"> 
                  <h5 class="card-title">第1位　テックDDD</h5>
                  <span class="badge badge-pill badge-danger">教室・オンライン両方</span>

                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-danger my-2">詳細</button>
                      <button type="button" class="btn btn-success my-2">カート</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img class="card-img-top"><%= image_tag 'TECH-EEE.png'%>
                <div class="card-body">
                  <h5 class="card-title">第2位　テックEEE </h5>
                  <span class="badge badge-pill badge-danger">教室・オンライン両方</span>
                  
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-danger my-2">詳細</button>
                      <button type="button" class="btn btn-success my-2">カート</button>
                    </div>
                    <small class="text-muted"></small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img class="card-img-top"><%= image_tag 'TECH-FFF.png'%>
                <div class="card-body">
                  <h5 class="card-title">第3位　テックFFF</h5>
                  <span class="badge badge-pill badge-danger">オンラインのみ</span>
                  
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-danger my-2">詳細</button>
                      <button type="button" class="btn btn-success my-2">カート</button>
                    </div>
                    <small class="text-muted"></small>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <h2>満足度ランキング</h2>
          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img class="card-img-top"> <%= image_tag 'TECH-AAA.png'%>
                <div class="card-body"> 
                  <h5 class="card-title">第1位　テックAAA</h5>
                  <span class="badge badge-pill badge-danger">教室・オンライン両方</span>

                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-danger my-2">詳細</button>
                      <button type="button" class="btn btn-success my-2">カート</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img class="card-img-top"><%= image_tag 'TECH-BBB.png'%>
                <div class="card-body">
                  <h5 class="card-title">第2位　テックBBB </h5>
                  <span class="badge badge-pill badge-danger">教室・オンライン両方</span>
                  
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-danger my-2">詳細</button>
                      <button type="button" class="btn btn-success my-2">カート</button>
                    </div>
                    <small class="text-muted"></small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img class="card-img-top"><%= image_tag 'TECH-CCC.png'%>
                <div class="card-body">
                  <h5 class="card-title">第3位　テックCCC</h5>
                  <span class="badge badge-pill badge-danger">オンラインのみ</span>
                  
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-danger my-2">詳細</button>
                      <button type="button" class="btn btn-success my-2">カート</button>
                    </div>
                    <small class="text-muted"></small>
                  </div>
                </div>
              </div>
            </div>
          </div>

    </main>
    <%= link_to 'TOPページへ', '/' %>
</html>