<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>プスナビ（仮）</title>
    <link rel="stylesheets" href="custom.scss">
    <link rel="stylesheets" href="responsive.scss">
    <link rel="stylesheets" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  </head>
  <body>
    <header>
      <div class="container">
        <div class="header-left">

          <!--
          <div class="logo">
          	<%= link_to image_tag("pusunavi-logo.png"), :action => "top" %>
          </div>
          -->
          <a href="/">PUSUCON</a> 
          
        </div>
        <!-- ここにメニューアイコンを追加 -->
        <span class="fa fa-bars menu-icon"></span>

        <div class="header-right">
          <a href="/searches">スクールを探す</a>
          <a href="/rankings">ランキングから探す</a>
          <a href="/schools">スクール一覧</a>
          <a href="/about">プスコンについて</a>
          <a href="#">口コミを見る</a>
          <a href="http://pusucon.local/">BLOG</a>
          <!-- <a href="#" class="login">ログイン</a> -->
        </div>
      </div>
    </header>
    <div class="top-wrapper">
      <div class="container">
        <h1>LET'S CHANGE YOUR LIFE</h1>
        <h1>WITH PROGRAMMING.</h1>
        <p>プスコンはプログラミングスクールを探せるサービスです。</p>
        <p>あなたの目的に合ったおすすめのスクールを探すことができます。</p>
        <div class="btn-wrapper">
          <a href="#" class="btn signup">スクールを探す</a>
          <p>or</p>
          <a href="#" class="btn facebook"><span class="fa fa-facebook"></span>Facebookで登録</a>
          <a href="#" class="btn twitter"><span class="fa fa-twitter"></span>Twitterで登録</a>
        </div>
      </div>
    </div>


<div class="album py-5 bg-light">
        <div class="container">
        <h2>総合ランキング</h2>
          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img class="card-img-top"> <%= image_tag 'TECH-AAA.png'%>
                <div class="card-body"> 
                  <h5 class="card-title">第1位　テックAAA</h5>
                  <span class="badge badge-pill badge-danger">教室・オンライン両方</span>

                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-danger my-2">詳細</button>
                      <button type="button" class="btn btn-success my-2">カート</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img class="card-img-top"><%= image_tag 'TECH-BBB.png'%>
                <div class="card-body">
                  <h5 class="card-title">第2位　テックBBB </h5>
                  <span class="badge badge-pill badge-danger">教室・オンライン両方</span>
                  
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-danger my-2">詳細</button>
                      <button type="button" class="btn btn-success my-2">カート</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img class="card-img-top"><%= image_tag 'TECH-CCC.png'%>
                <div class="card-body">
                  <h5 class="card-title">第3位　テックCCC</h5>
                  <span class="badge badge-pill badge-danger">オンラインのみ</span>
                  
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-danger my-2">詳細</button>
                      <button type="button" class="btn btn-success my-2">カート</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
          </div>



    <div class="lesson-wrapper">
      <div class="container">
        <div class="heading">
          <h2>人気スクールランキング</h2>
        </div>
        <div class="lessons">
          <div class="lesson">
            <div class="lesson-icon">
              <img src="https://prog-8.com/images/html/advanced/html.png">
              <p>第？位</p>
            </div>
            <p class="text-contents">BBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBB</p>
          </div>
          <div class="lesson">
            <div class="lesson-icon">
              <img src="https://prog-8.com/images/html/advanced/jQuery.png">
              <p>第？位</p>
            </div>
            <p class="text-contents">BBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBB</p>
          </div>
          <div class="lesson">
            <div class="lesson-icon">
              <img src="https://prog-8.com/images/html/advanced/ruby.png">
              <p>第？位</p>
            </div>
            <p class="text-contents">BBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBB</p>
          </div>
          <div class="lesson">
            <div class="lesson-icon">
              <img src="https://prog-8.com/images/html/advanced/php.png">
              <p>第？位</p>
            </div>
            <p class="text-contents">BBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBB</p>
          </div>
          <div class="clear"></div>
        </div>
        <div class="btn-wrapper">
          <a href="#" class="btn signup">ジャンル別ランキングをみる</a>
        </div>
      </div>
    </div>
    <div class="message-wrapper">
      <div class="container">
        <div class="heading">
          <h2>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</h2>
          <h3>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</h3>
        </div>
        <span class="btn message">このサイトについて</span>
      </div>
    </div>
    <footer>
      <div class="container">
        <%= link_to image_tag("pusunavi-logo.png"), :action => "top" %> 
        <p>Pusunavi @2018</p>
      </div>
    </footer>
  </body>
</html>