<%= form_for(@school) do |f| %>
  <div class="form-group">
    <%= f.label :school, :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :school, :company_list %>
    <%= f.text_field :company_list, value: @school.company_list.join(','), class: "form-control" %>
  </div>
    <div class="form-group">
    <%= f.label :school, :purpose_list %>
    <%= f.text_field :purpose_list, value: @school.purpose_list.join(','), class: "form-control" %>
  </div>
    <div class="form-group">
    <%= f.label :school, :style_list %>
    <%= f.text_field :style_list, value: @school.style_list.join(','), class: "form-control" %>
  </div>
    <div class="form-group">
    <%= f.label :school, :status_list %>
    <%= f.text_field :status_list, value: @school.status_list.join(','), class: "form-control" %>
  </div>
    <div class="form-group">
    <%= f.label :school, :course_list %>
    <%= f.text_field :course_list, value: @school.course_list.join(','), class: "form-control" %>
  </div>
  <div class="pull-right">
    <%= f.submit '登録する', class: "btn btn-info" %>
  </div>
<% end %>


<!--
<%= form_for(@school) do |f| %>

  <div class="field">
    <%= f.label :name, "スクール名" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :company_list, "運営会社名" %><br>
    <%= text_field_tag 'school[company_list]', @school.company_list.join(',') %>
  </div>
  <div class="field">
    <%= f.label :purpose_list, "受講目的（カンマ区切り）" %><br>
    <%= text_field_tag 'school[purpose_list]', @school.purpose_list.join(',') %>
  </div>
    <div class="field">
    <%= f.label :style_list, "受講スタイル（カンマ区切り）" %><br>
    <%= text_field_tag 'school[style_list]', @school.style_list.join(',') %>
  </div>
  <div class="field">
    <%= f.label :status_list, "対応生徒（カンマ区切り）" %><br>
    <%= text_field_tag 'school[status_list]', @school.status_list.join(',') %>
  </div>
    <div class="field">
    <%= f.label :course_list, "コース（カンマ区切り）" %><br>
    <%= text_field_tag 'school[course_list]', @school.course_list.join(',') %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
-->
